---
---

@import "minimal-light-no-dark-mode";


/* Custom desktop layout adjustment */
@media print, screen and (min-width: 961px) {
  .wrapper {
    width: 1080px !important;
  }

  header {
    margin-left: -50px !important;
  }

  section {
    width: 780px !important;
  }
}
